<alert-message></alert-message>

<hr style="width: 40%">
<div class="center game-board" oncontextmenu="return false">
  <div class="flex-board">
    <div *ngFor="let row of gameBoard; let x=index">
      <div *ngFor="let tile of row; let y=index" class="tile">
        <tile [tile]='tile' [x]='x' [y]='y'></tile>
      </div>
    </div>
  </div>
</div>
<div [hidden]='!exceedFlagLimitError && !finishGameMsg && !clickToStartMsg'class="message">
  <div [hidden]='!exceedFlagLimitError' class="alert alert-danger" role="alert"><strong>ERROR: </strong>You cannot add more flags than the total number of bombs.</div>
  <div [hidden]='!finishGameMsg' class="alert alert-success" role="alert"><strong>INFO: </strong>You have put down max number of flags. To finish, reveal the rest of the tiles.</div>
  <div [hidden]='!clickToStartMsg' class="alert alert-info" role="alert"><strong>INFO: </strong>Click any tiles to start the game.</div>
</div>
<hr style="width: 40%">
