<div class="forceCenter viewPercent">
    <rooms *ngIf="displayRooms" (changeViewToRoom)="changeViewToRoom($event)"></rooms>
    <room *ngIf="displayRoom" (changeViewToRoomList)="changeViewToRoomList()"></room>
</div>
<div class="forceCenter card card-block viewPercent endWithExtra">
  <div class="grid">
    <difficulty class="item-left" [isSolo]="isSolo"></difficulty>
    <chat class="item-right"></chat>
    <timer class="item-timer"></timer>
    <gameboard class="item-gameboard"></gameboard>
    <flagbomb class="item-flagbomb"></flagbomb>
  </div>
</div>