<div *ngIf="!isSolo" class="forceCenter viewPercent">
    <room *ngIf="displayRoom"></room>
</div>
<div class="forceCenter card card-block viewPercent endWithExtra">
  <div *ngIf="!isSolo" style="color: white">
    Room Id: {{roomId}}
  </div>
  <div class="grid">
    <difficulty class="item-left" [isSolo]="isSolo"></difficulty>
    <chat class="item-right" [roomId]='roomId'></chat>
    <timer class="item-timer"></timer>
    <gameboard class="item-gameboard"></gameboard>
    <flagbomb class="item-flagbomb"></flagbomb>
  </div>
</div>