.grid{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto 1fr auto;
}

.item-left{
  grid-column: 1;
  grid-row: 1/4;
}

.item-right{
  grid-column: 3;
  grid-row: 1/4;
}

.item-timer{
  grid-column: 2;
  grid-row: 1;
}

.item-gameboard{
  grid-column: 2;
  grid-row: 2;
}

.item-flagbomb{
  grid-column: 2;
  grid-row: 3;
}

.endWithExtra{
  margin-bottom: 75px;
}