<div class="forceCenter card card-block viewPercent endWithExtra">
  <div>
    <ul class="nav justify-content-center">
      <span class="text textWhite">Difficulty: </span>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="difficulty=='easy' ? 'active' : 'inactive'" (click)="changeDifficulty('easy')">EASY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="difficulty=='medium' ? 'active' : 'inactive'" (click)="changeDifficulty('medium')">MEDIUM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="difficulty=='hard' ? 'active' : 'inactive'" (click)="changeDifficulty('hard')">HARD</a>
      </li>
    </ul>
  </div>
  <table class="centerTable">
    <tr>
      <th (click)="sort('ranking')">
        Ranking
        <i *ngIf="title!='ranking'" class="fa fa-sort" aria-hidden="true"></i>
        <i *ngIf="title=='ranking' && reverse==false" class="fa fa-sort-asc" aria-hidden="true"></i>
        <i *ngIf="title=='ranking' && reverse==true" class="fa fa-sort-desc" aria-hidden="true"></i>
      </th>
      <th (click)="sort('username')">
        Username
        <i *ngIf="title!='username'" class="fa fa-sort" aria-hidden="true"></i>
        <i *ngIf="title=='username' && reverse==false" class="fa fa-sort-asc" aria-hidden="true"></i>
        <i *ngIf="title=='username' && reverse==true" class="fa fa-sort-desc" aria-hidden="true"></i>
      </th>
      <th (click)="sort('timeTaken')">
        Time Taken (Minute:Second)
        <i *ngIf="title!='timeTaken'" class="fa fa-sort" aria-hidden="true"></i>
        <i *ngIf="title=='timeTaken' && reverse==false" class="fa fa-sort-asc" aria-hidden="true"></i>
        <i *ngIf="title=='timeTaken' && reverse==true" class="fa fa-sort-desc" aria-hidden="true"></i>
      </th>
      <th (click)="sort('created_at')">
        Achieved Date
        <i *ngIf="title!='created_at'" class="fa fa-sort" aria-hidden="true"></i>
        <i *ngIf="title=='created_at' && reverse==false" class="fa fa-sort-asc" aria-hidden="true"></i>
        <i *ngIf="title=='created_at' && reverse==true" class="fa fa-sort-desc" aria-hidden="true"></i>
      </th>
    </tr>
    <tr *ngFor="let score of scores[difficulty] | sortBy: title : reverse ; let ranking=index">
      <td [ngClass]="{'topThree': (ranking + 1) < 4 }">{{score.ranking}}</td>
      <td [ngClass]="{'topThree': (ranking + 1) < 4 }">{{score.username}}</td>
      <td [ngClass]="{'topThree': (ranking + 1) < 4 }">{{score.timeTaken | date : 'mm:ss'}}</td>
      <td [ngClass]="{'topThree': (ranking + 1) < 4 }">{{score.created_at | date : 'medium'}}</td>
    </tr>
  </table>
</div>
