<div class="center">
  <i class="fa fa-tachometer fa-3x" aria-hidden="true"></i>
  <hr class="white">
  <div>
    <button class="btn btn-success easy" (click)="changeDifficulty(0)"><i class="fa fa-star-o" aria-hidden="true"></i> EASY </button>
  </div>
  <div>
    <button class="btn btn-warning medium" (click)="changeDifficulty(1)"><i class="fa fa-star-half-o" aria-hidden="true"></i> MEDIUM </button>
  </div>
  <div>
    <button class="btn btn-danger hard" (click)="changeDifficulty(2)"><i class="fa fa-star" aria-hidden="true"></i> HARD </button>
  </div>
  <hr>
  <button class="btn btn-danger" (click)="restart()">
    <span *ngIf='isSolo'>Restart</span>
    <span *ngIf='!isSolo'>Surrender</span>
  </button>
</div>