<div class="center grid">
  <i class="fa fa-flag fa-4x item-flag" style="color: red" aria-hidden="true"></i>
  <div class="progress item-progress" style="height: 20px">
    <div class="progress-bar bg-success" role="progressbar" style="width: 25%; height: 20px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
    <div class="progress-bar bg-danger" role="progressbar" style="width: 75%; height: 20px;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
  </div>
  <i class="fa fa-bomb fa-4x item-bomb" style="color: black" aria-hidden="true"></i>
</div>

Flags/Bombs: {{flagCount}}/{{bombCount}}