<div class="center grid">
  <i class="fa fa-flag fa-3x item-flag" aria-hidden="true"></i>
  <div class="progress item-progress" style="height: 20px">
    <div class="progress-bar bg-success" role="progressbar" style="height: 20px;" attr-aria-valuenow="flagPercent" [style.width]="flagPercent + '%'"
      aria-valuemin="0" aria-valuemax="100">{{flagCount}} Flags</div>
    <div class="progress-bar bg-danger" role="progressbar" style="height: 20px;" [style.width]="bombPercent + '%'" aria-valuenow="bombPercent"
      aria-valuemin="0" aria-valuemax="100">{{bombCount - flagCount}} Bombs</div>
  </div>
  <i class="fa fa-bomb fa-3x item-bomb" aria-hidden="true"></i>
</div>
