<div class="roomsContainer viewPercent">
  <div class="boldWhiteText">Waiting Room</div>
  <hr style="width: 200px">
  <div class="boldWhiteText">Players Joined:</div>
  <div class="whiteText" *ngFor="let player of players">
    {{ player.username }} : {{ player.isReady }}
  </div>
  <button class="btn btn-primary" *ngIf="ready" (click)="toggleReady()">Unready...</button>
  <button class="btn btn-primary" *ngIf="!ready" (click)="toggleReady()">Ready?</button>

  <button class="btn btn-primary" (click)="returnToRooms()">Back to Rooms</button>
</div>
