<div class="forceCenter card card-block viewPercent endWithExtra roomsContainer">
  <span class="boldWhiteText" (click)="toggleDisplayCreateRoom()">
    <i class="fa fa-chevron-right" [hidden]='displayCreateRoom' aria-hidden="true"></i>
    <i class="fa fa-chevron-down" [hidden]='!displayCreateRoom' aria-hidden="true"></i>
    Create a Room
  </span>
  <div [hidden]='!displayCreateRoom'>
    <input size="30" type="text" class="text" [(ngModel)]="newRoomName" placeholder="I want room name as...">
    <br>
    <select class="form-control" [(ngModel)]="newDifficulty">
      <option [value]="-1">- Select a Difficulty -</option>
      <option [value]='0'>Easy</option>
      <option [value]='1'>Medium</option>
      <option [value]='2'>Hard</option>
    </select>
    <br>
    <button [disabled]="newRoomName == null || newRoomName == '' || newDifficulty==-1" class="btn btn-primary" (click)="createRoom(newDifficulty, newRoomName)">Create Room!</button>
  </div>
  <hr>
  <span class="boldWhiteText">Find Room by Difficulty: </span>
  <div>
    <ul class="nav justify-content-center">
      <span class="text textWhite">Difficulty: </span>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="difficulty==0 ? 'active' : 'inactive'" (click)="getRooms(0)">EASY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="difficulty==1 ? 'active' : 'inactive'" (click)="getRooms(1)">MEDIUM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="difficulty==2 ? 'active' : 'inactive'" (click)="getRooms(2)">HARD</a>
      </li>
    </ul>
  </div>

  <div [hidden]='difficulty == null'>
    <table class="centerTable">
      <tr>
        <th>Name</th>
        <th>Occupancy</th>
        <th>Created By</th>
        <th>Created At</th>
      </tr>
      <tr *ngFor="let room of rooms[difficulty]; let ranking=index" (dblclick)="joinRoom(room)">
        <td>{{room.room_name}}</td>
        <td>{{room.capacity}}</td>
        <td>{{room.created_by}}</td>
        <td>{{room.created_at | date: 'medium'}}</td>
      </tr>
    </table>
  </div>
  <!--<div *ngFor="let room of rooms">
    <p style="color:black; background-color: #efefef">{{room.name}}</p>
  </div>-->

  <hr>
  <button (click)="createRoom(0, 'room1')">Create Room 1 easy</button>
  <button (click)="createRoom(1, 'room2')">Create Room 2 medium</button>
  <button (click)="createRoom(2, 'room3')">Create Room 3 hard</button>
  <button (click)="deleteAllRooms()">Delete All Rooms</button>

</div>
