/* You can add global styles to this file, and also import other style files */


.header {
  position: block;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #efefef;
}

.footer {
  width: 100%;
  padding: 1rem;
  background-color: #efefef;
}

.center{
  text-align: center;
  border-style: solid;
}

.game-container {
  display: inline-block;
  padding: 5px;
  cursor: default;
  background: #bbada0;
  height: auto;
}

.flex-board{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.tile {
  width: 35px;
  height: 35px;
  line-height: 35px;
  float: left;
  border-radius: 0px;
  background: #eee4da;
  text-align: center;
  font-weight: bold;
  z-index: 10;
  font-size: 15px;
  border: 1px solid #bbada0;
}