/* You can add global styles to this file, and also import other style files */


.header {
  position: block;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #efefef;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
}

.center{
  text-align: center;
  border-style: solid;
}