<div>
  <span [ngSwitch]="showInstr" style="font-size: 20px" (click)="toggleShowInstr()" title='Toggle instructions'>
    <i *ngSwitchCase='true' class="fa fa-plus"></i>
    <i *ngSwitchCase='false' class="fa fa-minus" ></i>
  </span>
  <span class="instrHeading">Instructions</span>
</div>
<p [hidden]="showInstr"> 
  Minesweeper is a single-player puzzle video game. The objective of the game is to clear a rectangular board containing hidden "mines" or bombs without detonating any of them, with help from clues about the number of neighboring mines in each field. Wikipedia
</p>