<header>
  <h1>MineSweeper</h1>
  <a class="header-btn">
    <i aria-hidden="true" class="fa fa-info"></i>
  </a>
</header>
<body>
<div class="container m-t-1 scrollable">

  <div class="card card-block">
    <h1>Instructions</h1>
    <p> sfjoasljfams afjpslekfla lefkalsfklaesmflesmf fkaselfse sfjoasljfams afjpslekfla lefkalsfklaesmflesmf fkaselfsesfjoasljfams afjpslekfla lefkalsfklaesmflesmf fkaselfsesfjoasljfams afjpslekfla lefkalsfklaesmflesmf fkaselfsesfjoasljfams afjpslekfla lefkalsfklaesmflesmf fkaselfsesfjoasljfams afjpslekfla lefkalsfklaesmflesmf fkaselfsesfjoasljfams afjpslekfla lefkalsfklaesmflesmf fkaselfse</p>
    <hr>
    <game></game>
  </div>
  <!--<joke-list></joke-list>-->
</div>
</body>

<div class="footer">{{footer}}</div>