<div class="topnav">
  <a style="float:right">
    <i aria-hidden="true" title="Info" class="fa fa-info"></i>
    <small>Info</small>
  </a>
  <a style="float:right">
    <i aria-hidden="true" title="trophy" class="fa fa-trophy"></i>
    <small>HighScore</small>
  </a>
  <a style="float:right">
    <i aria-hidden="true" title="Play MineSweeper Online" class="fa fa-globe"></i>
    <small>Play MineSweeper Online</small>
  </a>
  <a style="float:right">
    <i aria-hidden="true" title="Play MineSweeper" class="fa fa-gamepad"></i>
    <small>Play MineSweeper</small>
  </a>
  <h2>Mine_Sweeper</h2>
</div>
<div class="body">
  <div class="container m-t-1 scrollable">
    <div class="card card-block">
        <h1>Instructions</h1>
        <p> sfjoasljfams afjpslekfla lefkalsfklaesmflesmf fkaselfse sfjoasljfams afjpslekfla lefkalsfklaesmflesmf fkaselfsesfjoasljfams afjpslekfla lefkalsfklaesmflesmf fkaselfsesfjoasljfams afjpslekfla lefkalsfklaesmflesmf fkaselfsesfjoasljfams afjpslekfla lefkalsfklaesmflesmf fkaselfsesfjoasljfams afjpslekfla lefkalsfklaesmflesmf fkaselfsesfjoasljfams afjpslekfla lefkalsfklaesmflesmf fkaselfse</p>
        <hr>
        <game-info></game-info>
        <game></game>
    </div>
  </div>
</div>

<div class="footer">{{footer}}</div>