<div [hidden]="!displayAlertMessage">
  <div class="backdrop" (click)="backdropClicked()"></div>
  <div class="gameOverAlert">
    <h4>{{title}}</h4>
    <hr>
    <table class="tableCenter">
      <tr *ngFor="let item of (data?.data | objectPipe)">
        <th>{{item.key}}</th>
        <td>{{item.value}}</td>
      </tr>
    </table>
    <hr>
    <button [hidden]='!isSolo' class="btn btn-danger" (click)="closeAlertMessageAndRestart()">Restart Game</button>
    <button [hidden]='data?.status == 0 || !isSolo' class="btn btn-primary" (click)="submitHighscore(data.data['Time Used (min:sec)'])">Submit Highscore</button>
    <!--<div [hidden]='!displayNicknameInput'>
      <hr>
      <input size="30" type="text" class="text" [(ngModel)]="nickname" placeholder="Please enter your nickname.">
      <br>
      <button [disabled]="nickname == null || nickname == ''" class="btn btn-primary" (click)="submitHighscore(nickname, data.data['Time Used (min:sec)'])">Send Score</button>
    </div>-->
  </div>
</div>

<!--<button (click)="submitHighscore('mockPlayer', '1:30')">Send Submit Score Message</button>"-->
