<div>
  <button class="chatSelect" (click)="selectedLog='global'" *ngIf="roomId != null" [ngClass]="{'isSelectedLog':selectedLog=='global'}">Global</button>
  <button class="chatSelect" (click)="selectedLog='room'" *ngIf="roomId != null" [ngClass]="{'isSelectedLog':selectedLog=='room'}">Room</button>
  <!--<p style="color: white">Selected Log: {{selectedLog}}</p>-->
</div>
<div class="chatContainer">
  <div class="chatHeader bgOrange textWhite">
    Chat ({{ username | lengthLimit:9 }})
  </div>
  <div class="chatLog bgLighterDarkGray">
    <!--<p style="color: white" *ngIf="selectedLog=='room' && roomId != null">roomId: {{roomId}}</p>-->
    <!--<button *ngIf="selectedLog=='room' && roomId!=null" (click)="QuitRoom">Quit Room</button>    -->
    <div class="log" *ngFor="let log of logs[selectedLog]">
      <div class="logProfilePic bgLightGray" [attr.title]="log.username">
         {{log.username | takeFirstCharacter}}
      </div>
      <div class="logText bgLighterGray">
          {{log.message}}
        </div>
      <br>
    </div>
  </div>
  <div class="chatText bgLighterDarkGray">
    <textarea class="bgLighterDarkGray" [(ngModel)]='message'>
    </textarea>
    <button class="btn btn-primary sendButton" [disabled]="message == null || message == ''" (click)='sendMessage(roomId, message)'>SEND</button>
  </div>
</div>