<div class="chatContainer">
  <div class="chatHeader bgOrange textWhite">
    Chat ({{ username | lengthLimit:9 }})
  </div>
  <div class="chatLog bgLighterDarkGray">
    <div class="log" *ngFor='let log of logs'>
      <div class="logProfilePic bgLightGray">
         {{log.username}}
      </div>
      <div class="logText bgLighterGray">
          {{log.message}}
        </div>  
      <br>
    </div>
  </div>
  <div class="chatText bgLighterDarkGray">
    <textarea class="bgLighterDarkGray" [(ngModel)]='message'>
    </textarea>
    <button class="btn btn-primary" [disabled]="message == null || message == ''" (click)='sendMessage(message)'>SEND</button>
  </div>
</div>